/* 
.cardWrapper:nth-child(1) .priceWrap p {
  animation: videoTest2 3s forwards;
}
@keyframes videoTest2 {
  0% {
    opacity: 1;
    width: 300px;
  }
  50% {
  opacity: 0;
  width: 300px;
  }
  100% {
    opacity: 0;
  }
}
.cardWrapper:nth-child(1) .priceWrap p {
  animation: videoTest 4s forwards;
}
@keyframes videoTest {
  0% {
    opacity: 0;
    width: 300px;
  }
  50% {
  opacity: 0;
  width: 300px;
  }
  100% {
    opacity: 1;
  }
}
 */

.cardWrapper {
  margin-bottom: 50px;
  width: 300px;
  height: 400px;
  background-color: var(--color5);
  border-radius: 10px;
  background: linear-gradient(236.43deg, #3f4c39 21.1%, #262626 68.07%);
}

.cardWrapper img {
  border-radius: 10px;

  object-fit: cover;
  width: 100%;
  height: 50%;
}

.cardInfoDiv {
  height: 50%;
  padding: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardInfoDiv h2 {
  text-transform: uppercase;
  max-height: 50px;
  overflow: hidden;
}
.cardInfoDiv h3 {
  line-height: 20px;
  font-size: 14px;
  max-height: 50px;
  overflow: hidden;
  margin-top: 10px;
  color: var(--gray3);
}

.tagsPriceWrap {
  display: flex;
  justify-content: space-between;
}
.tagsPriceWrap div {
  display: flex;
}

.details {
  display: flex;
  justify-content: space-between; /* Spread the items horizontally */
  align-items: flex-end; /* Align the items at the bottom of their container */
  gap: 10px;
}

.eachItem {
  display: flex;
  align-items: flex-end; /* Align the content inside each item at the bottom */
  justify-content: center; /* Center the content horizontally */
  height: 100%; /* Ensure the container takes full height */
}
.details img,
.details svg,
.details path {
  width: 30px;
}

.heart {
  color: rgb(255, 27, 27);

  /* color: rgba(255, 0, 0, 0.815); */
}
.vegan {
  color: hsla(144, 100%, 38%);
}

.priceWrap {
  width: 90px;
  height: 52px;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: var(--color4);
  font-weight: 800;
  border-radius: 9px;
  align-items: center;
  font-family: var(--font2);
}

.priceWrap span {
  font-size: 13px;
  margin-top: 14px;
  margin-left: 2px;
}
