/* fonts */
:root {
  font-family: var(--font1); /* Nicer  font for Navigation  or Title etc... */
  font-family: var(--font2); /* fancy font can be not so much readable*/
  font-family: var(--font3); /* not readable hand writting etc...)*/
}
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}
.font3 {
  font-family: var(--font3);
}
.font4 {
  font-family: var(--font4);
}

/* burger nav link */
.burger-link {
  font-family: var(--font2);
  font-size: 22px;
  transition: all 0.2s;
  text-transform: lowercase;

  color: var(--color4);
}
.burger-link:hover {
  text-decoration: underline;
}
.active-burger-link {
  text-decoration: underline;
}

/* standart Nav link */
.link {
  font-size: 22px;
  transition: all 0.2s;
  font-family: var(--font2);
  color: var(--color2);
  text-transform: lowercase;
}
.active-link {
  /* text-decoration: underline; */
  border-bottom: 2px solid var(--color2);
}
.link:hover {
  border-bottom: 2px solid var(--color2);
}

/* typography */
.heading1 {
  font-size: 150px;
  font-family: var(--font2);
}
.heading2 {
  font-size: 80px;
  font-family: var(--font2);
  line-height: 120%;
  user-select: none;
}
.heading3 {
  font-size: 32px;
  font-weight: 600;
  font-family: var(--font2);
}
.heading4 {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}
.heading5 {
  font-size: 18px;
  font-weight: 600;
}
.paragraph {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 160%;
  color: var(--gray7);
}
.caption {
  font-size: 16px;
  font-family: var(--font1);
  font-weight: 400;
  line-height: 150%;
}
.caption-mini {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font1);
}

@media (max-width: 1000px) {
  .paragraph {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .paragraph {
    font-size: 13px;
  }
}

/* Break point 1200px */
@media (max-width: 1200px) {
}

/* Break point 992px */
@media (max-width: 992px) {
}

/* Break point 768px */
@media (max-width: 768px) {
}

/* Break point 576px */
@media (max-width: 576px) {
  .heading1 {
    font-size: 70px;
  }
  .heading2 {
    font-size: 50px;
  }
}

/* Break point 400px */
@media (max-width: 400px) {
}
