.burgerMenu {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding-top: 80px;
  width: 100vw;
  margin-top: -460px;
}
.burgerActiveNav {
  transform: translateY(460px);
}

.burgerUl {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  text-align: center;
  transition: 0.5s cubic-bezier(1, 0.23, 0.59, 1.12);
  z-index: 99;
}
.burgerLi {
  padding: 15px 0;
  border-bottom: 1px solid var(--gray3);
  width: 100%;
}

.burgerLink {
  width: 100%;
  padding: 15px 0;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.button {
  margin: 0 auto;
}
/* 
.openCloseIconDiv {
} */
.openCloseIcon {
  color: var(--white);
  font-size: 38px;
  cursor: pointer;
  z-index: 10;
  margin-top: -6px;
}

@media (min-width: 993px) {
  .burgerWrapper {
    display: none;
  }
}
