.menuWrapper {
}

/* .menuWrapper p {
  margin: 15px auto;
} */

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.menuTitles {
  width: 100%;
  text-align: left;
  align-items: left;
  margin-top: 140px;
  margin-bottom: 60px;
}
