.threeWrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.firstDiv {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  width: 50%;
}
.titleDiv {
  height: 30%;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.firstDiv img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.secondDiv {
  width: 50%;
}

.emptyDiv {
  height: 30%;
}

@media (max-width: 768px) {
  .threeWrapper {
    flex-direction: column;
  }
  .threeWrapper div {
    width: 100%;
  }
  .firstDiv {
    padding-right: 0;
  }
}
