.menuDetailsWrapper {
  padding: 5vh 2vw;
  background-color: var(--color4);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
  max-width: 1200px;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 20vh;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  width: 50%;
}

.image {
  object-fit: cover;
  border: 5px solid var(--white);
  border-radius: 8px;
  padding: 5px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.infoWrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;
  text-align: left;
}

.title {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.description {
  line-height: 1.6;
  color: var(--gray5);
}

.tagsPriceWrap {
  display: flex;
  justify-content: space-between;
}
.tagsPriceWrap div {
  display: flex;
}

.details {
  display: flex;
  justify-content: space-between; /* Spread the items horizontally */
  align-items: flex-end; /* Align the items at the bottom of their container */
  gap: 10px;
}

.eachItem {
  display: flex;
  align-items: flex-end; /* Align the content inside each item at the bottom */
  justify-content: center; /* Center the content horizontally */
  height: 100%; /* Ensure the container takes full height */
}
.details img,
.details svg,
.details path {
  width: 30px;
}
.new img {
}

.heart {
  color: rgb(255, 27, 27);

  /* color: rgba(255, 0, 0, 0.815); */
}
.vegan {
  color: hsla(144, 100%, 38%);
}

.priceWrap {
  width: 90px;
  height: 52px;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: var(--color4);
  font-weight: 800;
  border-radius: 9px;
  align-items: center;
  font-family: var(--font2);
}

.priceWrap span {
  font-size: 13px;
  margin-top: 14px;
  margin-left: 2px;
}
