.componentThreeWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 70vh;
}
.componentThreeWrapper div {
  width: 50%;
}
.componentThreeWrapper img {
  max-height: 1000px;
  min-height: 500px;
  height: 100%;

  object-fit: cover;
  width: 100%;
  /* height: 700px; */
}
.textWrapper {
  width: 50%;
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textWrapper h2 {
  width: 100px;
}
.textWrapper p {
  padding-top: 40px;
  width: 70%;
  min-width: 200px;
  max-width: 600px;
}

@media (max-width: 768px) {
  .componentThreeWrapper {
    flex-direction: column;
  }
  .componentThreeWrapper div {
    width: 100%;
    padding-bottom: 50px;
  }
}
