.middleDiv {
  display: flex;
  justify-content: right;
  gap: 10%;
  margin-right: 15%;
  padding: 50px 0;
}
.middleDiv li {
  transition: all 0.3s;
}
.middleDiv li:hover {
  color: var(--color2);
}

.BottomDiv {
  display: flex;
  justify-content: space-between;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
