.titlesWrapper {
  align-items: end;
  display: inline-block;
  text-align: right;
}

.reviewsWrapper {
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  margin-top: 70px;
  overflow-x: scroll; /* Enable horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling when using arrows or scroll events */
  width: 100vw;
  position: relative; /* Position relative to its container */
  padding-bottom: 40px; /* Add some space at the bottom for better visuals */
}
.reviewsWrapper::-webkit-scrollbar {
  display: none;
}

.card {
  margin: 15px;
  min-width: 350px;
  height: 410px;
  width: 350px;
  background-color: var(--white);
  padding: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.starsReview p {
  margin-top: 28px;
}
.stars {
  display: flex;
  gap: 5px;
}
.authorInfoWrap {
  display: flex;
}
.authorInfoWrap img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
}
.authorInfoWrap div {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrowWrapper {
  margin-bottom: 40px;
  display: flex;
  justify-content: end;
  font-size: 50px;
}
.arrowWrapper svg {
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s;
  user-select: none;
}
.arrowWrapper svg:hover {
  color: var(--gray5);
}
